<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/css/styles.css" />
    <link rel="stylesheet" href="./assets/css/stylesNavbar.css" />
    <link rel="stylesheet" href="./assets/css/stylesFooter.css" />
    <link rel="stylesheet" href="./assets/css/stylesKanbanBoard.css" />
    <link rel="stylesheet" href="./assets/css/stylesContactForm.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
    <!-- Import Vue Router -->
    <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.js"></script>
    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Favicon -->
    <link rel="icon" href="https://vuejs.org/images/logo.png" />
  </head>
  <body>
    <div id="app">
      <!-- <div class="nav-bar"></div> -->
      <div class="topnav" id="myTopnav">
        <router-link :to="{ name: 'home' }" class="active">Home</router-link>
        <router-link :to="{ name: 'kanbanboard' }">Board</router-link>
        <router-link :to="{ name: 'about' }">About us</router-link>
        <router-link :to="{ name: 'contact' }">Contact</router-link>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

      <div class="page-container">
        <router-view></router-view>
      </div>
      

      <!-- <div class="cart">Cart({{ cart.length }})</div>
      <product-display :premium="premium" @add-to-cart="updateCart"></product-display> -->

      <!-- <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img :class="{ 'out-of-stock-img': !inStock }" v-bind:src="image">
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of Stock</p>
            <ul>
              <li v-for="detail in details">{{ detail }}</li>
            </ul>
            <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
            <button class="button" v-on:click="addToCart">Add to Cart</button>
            <button class="button" @click="removeFromCart">Remove Item</button>
          </div>
        </div>
      </div> -->

      <div class="footer">
        <p>Footer</p>
      </div>
    </div>

    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
    </script>

    <!-- Import Components -->
    <script src="./components/ReviewForm.js"></script>
    <script src="./components/ReviewList.js"></script>
    <script src="./components/ProductDisplay.js"></script>
    <script src="./components/ContactForm.js"></script>

    <!-- Load the Pages" -->
    <!-- <script src="./pages/AnimalCollection.js"></script>
    <script src="./pages/FoodItems.js"></script> -->
    <script src="./pages/HomePage.js"></script>
    <script src="./pages/KanbanBoardPage.js"></script>
    <script src="./pages/AboutPage.js"></script>
    <script src="./pages/ContactPage.js"></script>

    <!-- Import App -->
    <script src="./main.js"></script>
  </body>
</html>