 .modal-backdrop {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  overflow-y: auto; /* optional: allow scroll if modal is tall */
}

.modal {
  margin-top: 49px;
  background: white;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  overflow: hidden;
  /* animation: fadeIn 0.2s ease; */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #007bff; */
  /* color: white; */
  /* padding: 0.6rem 1rem; */
}

.modal-body {
  text-align: left;
  /* padding: 1rem; */
}

.close-btn {
  background: none;
  border: none;
  /* color: white; */
  font-size: 1.3rem;
  cursor: pointer;
}

.modal-footer {
  display: flex;
  justify-content: flex-end; /* aligns items to the right */
}

/* @keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
} */

/* LABEL DROPDOWN */
.multiselect {
  position: relative;
  width: 250px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px;
  cursor: pointer;
}

.multiselect .selected {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.multiselect .selected.placeholder {
  color: #888;
}

.multiselect .tag {
  background: #007bff;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.multiselect .tag span {
  margin-left: 6px;
  font-weight: bold;
  cursor: pointer;
}

.multiselect .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 4px;
  z-index: 100;
}

.multiselect .dropdown div {
  padding: 8px 12px;
  cursor: pointer;
}

.multiselect .dropdown div:hover,
.multiselect .dropdown div.active {
  background: #007bff;
  color: white;
}