/* body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 1rem;
} */

h2 {
  margin: 0 0 0.5rem;
}

.kanbanboard {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  overflow-x: auto;
  padding-bottom: 1rem;

  font-family: 'Segoe UI', Roboto, sans-serif;
}

.kanbanboard-page-title {
  font-size: 2rem;
}

.kanbanboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.member-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.kanban-column {
  background: white;
  border-radius: 8px;
  padding: 0.5rem;
  min-width: 250px;
  display: flex;
  flex-direction: column;

  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.kanban-column-title {
  font-size: 1.2rem;
  /* color: #2d3748; */
  /* margin-bottom: 16px; */
  /* border-bottom: 1px solid #e2e8f0; */
  padding-bottom: 6px;
}

.column h2 {
  cursor: grab;
}
/* are these working ??? */
.column h2:active {
  cursor: grabbing;
}
.column.dragging-column {
  opacity: 0.5;
} 
.column.hovered {
  outline: 2px dashed #999;
}

.card {
  background: #e8e8e8;
  border-radius: 6px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: grab;
  transition: background 0.2s;
}

.card.dragging {
  opacity: 0.5;
}

.add-column,
.add-card {
  background: #ffffff;
  /* color: white; */
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  margin-top: 0.3rem;
  text-align: left;
}

.add-column:hover,
.add-card:hover {
  background: #eeeeee;
}

.kanbanboard-input {
  background: #e8e8e8;
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  border: none;

  /* Default state: blue outline */
  outline: 2px solid #007BFF; 
}
/* On hover or focus: remove outline */
.kanbanboard-input:hover,
.kanbanboard-input:focus {
  outline: none;
}

.card.drag-over {
  border-top: 2px solid #007bff;
}

.empty-drop-zone{
  border: 2px dashed #ccc;
  border-radius: 6px;
  text-align: center;
  color: #aaa;
  font-size: 0.9em;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}