.contact-page {
  background-color: #FCECD4;
}

.contact-title {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  margin: auto;
  border: 2px solid #d8d8d8;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 15px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 15px -12px rgba(0, 0, 0, 0.57);
}

.contact-form .button {
  display: block;
  margin: 30px auto;
}