.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 160px;

  text-align: center;
  background-color: #333;
  color: white;
}

.footer p {
  padding-top: 100px;
  font-size: 1rem;
}