.about-page {
  background-color: #FCECD4;
}

.aboutPage-margin {
  background-color: #FCECD4;
  padding: 40px;
}

.about-container {
  background-color: #E3E4DA;
  max-width: 1100px;
  text-align: center;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.05);
}

.about-container p {
  padding: 1.25rem;
}
