.contact-page {
  background-color: #FCECD4;
  min-height: 100vh; /* makes it fill the entire screen height */
}

.contact-title {
  text-align: center;
}

.contactPage-margin {
  padding: 40px;
}

.contact-form-container {
  background-color: #E3E4DA;
  max-width: 1100px;
  margin: auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.contact-page input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
  resize: vertical;
}

.contact-page input[type=submit] {
  background-color: #455F8F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-page input[type=submit]:hover {
  background-color: #555;
}